
<head>
<title>  Caculator</title>
</head>
<body> this is a caculator
<div align = "center" style = "margin-top:40px">
	<img src = "../static/add.jpg">
</div>

<div align = "center" style="margin-top:60px">

	<form name="form1" method="POST">
		<input type="text" placeholder="{{a}}" name ="adder1" value="{{a}}">+
		<input type="text" placeholder="{{b}}" name ="adder2"value="{{b}}">=
		<input type="text" readonly="readonly" placeholder="result" name="result"value="{{message}}">
		<input type="submit" value = "cal" onclick="add()" >
		</form>
</div>
</body>
